* {
    margin: 0;
    padding: 0;
    transition: 0.5s;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: aliceblue;
}

p,
a,h1 {
    color: darkslategrey;
}

.header_container {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: royalblue;
    align-items: center;
    position: sticky;
    top: 0%;
}


.header {
    height: 70px;
    width: 80%;
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
}

.header .logo {
    height: 90%;
    background-color: white;
    padding: 0.2rem;
    cursor: pointer;
}

.header .pnotes {
    margin-left: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header .pnotes h1 {
    color: white;
    font-style: italic;
}
.header .pnotes span{
    font-size: 1rem;
}

/* </header>  */


/* <note_field> */
.note_field_container {
    width: 80%;
    max-width: 1300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.note_field_container h1 {
    padding: 1rem;
}
.note_field {
    width: 100%;
    max-width: 500px;
    margin: 1rem auto;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 20%);
    border-radius: 0.5rem;
}

.note_field .form {
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 1rem 0rem;
    background-color: white;

}

.note_field .form input,
.note_field .form textarea {
    display: block;
    outline: none;
    border-style: none;
    width: 80%;
    margin: 0.5rem auto;
    padding: 0.5rem;
    resize: none;
    border-radius: 0.3rem;
    /* box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1); */

}

.note_field .form input:focus,
.note_field .form textarea:focus {
    box-shadow: 0px 0px 2px royalblue;
}

.note_field .form span {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    margin: 0.5rem auto;
    margin-top: 1rem;
    padding: 0rem 0.5rem;
}

.note_field .form span button {
    height: 3rem;

    outline: none;
    border-style: none;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.4rem 1rem;
    line-height: 1.6rem;
    border-radius: 50%;
    background-color: white;
    color: royalblue;
    cursor: pointer;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 20%);
    
}
.note_field .form span button:hover {
    background-color: royalblue;
    color:white;

}

/* </note_field> */



/* note item  */
section.note_container {
    width: 80%;
    max-width: 1300px;
    min-height: 60vh;
    margin: auto;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    background-color: white;
}

section.note_container .note {
    flex: 1 1;
    width: 280px;
    min-width: 280px;
    height: 130px;
    padding: 1rem;
    margin: 0.5rem;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 20%);
    background-color: white;

}

section.note_container .note:hover {
    transform: scale(1.02);
}

section.note_container .note h4 {
    font-size: 1rem;
    padding: 0rem;
    margin: 0rem;
    color: royalblue;
}

section.note_container .note p {
    width: 100%;
    font-size: 1rem;
    height: 70px;
    overflow: hidden;
}

section.note_container .note .btndiv {
    width: 100%;
    margin: 0.2rem 0rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

section.note_container .note .btndiv .edit {
    padding: 0.5rem;
    color: royalblue;
    outline: none;
    border-style: none;
    border-radius: 0.3rem;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 20%);
    cursor: pointer;
    background-color: white;
}

section.note_container .note .btndiv .del {
    padding: 0.5rem;
    color: red;
    margin-right: 1rem;
    outline: none;
    border-style: none;
    border-radius: 0.3rem;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 20%);
    cursor: pointer;
    background-color: white;
}

/* note item  */








/* footer  */
.footer_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: royalblue;
}

.footer {
    width: 80%;
    max-width: 1300px;
    margin: auto;
}

.footer p {
    padding: 1rem;
    text-align: center;
    color: white;
}
.footer p a{
    color: white;
}
@media screen and (max-width: 560px) {

    .header{
        width: 95%;
    }

    .note_field_container{
        width: 95%;
        margin: 0.5rem auto;
    }

    section.note_container{
        width: 95%;
        margin: 0.5rem auto;
    }
    section.note_container .note {
        max-width: none;
    }

}